<div class="jumbotron">
  <h1><i class="fa fa-hand-spock-o"></i>Red Stallion</h1>
<p>This is Brando's Twitter Clone application</p>
<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>

